<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sandbox.hyunwoo.paging.repository.MyBatisPagingMapper">

    <select id="cursorPaging" resultType="Paging">
        select id, title, createdAt
        from paging
        where id > #{cursorId} limit #{count}
    </select>

    <select id="offsetPaging" resultType="Paging">
        select id, title, createdAt
        from paging limit #{offset} , #{size}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*)
        from paging
    </select>

    <insert id="insertPagingData">
        insert into paging (id, title, createdAt)
        values
        <foreach collection="paging" item="item" separator=",">
            (#{item.id}, #{item.title}, #{item.createdAt})
        </foreach>
    </insert>

</mapper>
